section
    h2.border-bottom Headlines
        h1 Headline 1
        h2 Headline 2
        h3 Headline 3
        h4 Headline 4
        h5 Headline 5
        h6 Headline 6
    h2.border-bottom Headlines width border
        h1.border-bottom Headline 1
        h2.border-bottom Headline 2
        h3.border-bottom Headline 3
        h4.border-bottom Headline 4
        h5.border-bottom Headline 5
        h6.border-bottom Headline 6