section
    h2 Bild und Bildunterschrift
    figure
        img(src='https://www.brama-west.de/images/product_images/original_images/345105_01_maske_ffp2_ventil.jpg', alt='Altenativ Text', width= '100px')
        figcaption Bildunterschrift