section
    h2 Eingabefelder
    form(action="")
        fieldset
            legend Person
            ul.no-disc
                li
                    input(type='text', id='firstname', name='firstname', placeholder='Vorname')
                li
                    input(type='text', id='lastname', name='lastname', placeholder='Nachname')
                li
                    input(type='submit', value='Submit')