section
    h2 Tabelle
    table
        thead
            tr
                th Head 1
                th Head 2
                th Head 3
        tbody
            tr
                td Body 1
                td Body 2
                td Body 3
            tr
                td Body 1
                td Body 2
                td Body 3
        tfoot
            tr
                td(colspan= 3) Footer