// Typography
// Mengentext
@font-family: sans-serif;
@font-size: 1.0em;
@line-height: @font-size + 0.4;
@font-weight: 400;
// Headlines
@headline-line-height: 100%;
@headline-font-weight: 600;
@headline-margin-bottom: @font-size;
// H1
@h1-font-size: @font-size + 1.2;
// H2
@h2-font-size: @h1-font-size - 0.4;
// H3
@h3-font-size: @h1-font-size - 0.6;
// H4
@h4-font-size: @h1-font-size - 0.8;
// H5
@h5-font-size: @h1-font-size - 1.0;
// H6
@h6-font-size: @h1-font-size - 1.2;
// Paragraph
@paragraph-margin-after: @line-height;
// Beschrift
@beschriftung: @font-size - 0.2;

// Color
// Main-Color
@first-main-color: salmon;
@second-main-color: gold;
// Font-Color
@font-color: #999999;
// Border
@border-color: #DDDDDD;
// Button
@button-color-default: green;
@button-color-attention: red;
@button-color-disable: grey;

// Spaces
@space: 5px;
