<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        title Shop Template
    body
        main
            h1 Styleguide
            include includes/headlines.pug
            include includes/paragraph.pug
            include includes/lists.pug
            include includes/table.pug
            include includes/button.pug
            include includes/images.pug
            include includes/input.pug
            footer
                p Ladengast &copy; 2020